.carousel img{
    border-radius: 15px  !important;
    max-width: 87% !important;
}
.carousel h1 {
    font-size: 30px;
    font-style: normal;
    color:#fff !important;
 
}
.carousel h2 {
    font-size: 30px;
    font-style: normal;
    color:#031625 !important;
    margin-right: 60%;
    margin-bottom: 45%!important;
}
.carousel h3 {
    font-size: 30px;
    font-style: normal;
    color:#fff !important;
    margin-right: 80%;
    margin-bottom: 30%!important;
}

.carousel img{ 
    padding: 10px;  
};
