.carousel-caption-1 {
    font-size: 30px;
    font-style: normal;
    color:#fff !important;
}
.carousel-caption-2 {
    font-size: 30px;
    font-style: normal;
    color:#031625 !important;
    margin-right: 70%!important;
    margin-bottom: 40%!important;
}

.carousel-caption-3 {
    font-size: 30px;
    font-style: normal;
    color:#fff !important;
    margin-right: 80%!important;
    margin-bottom: 35%!important;
}

.carousel.item {
  background-size: cover;
}

.carousel img {
  border-radius: 10px  !important;
  width: 100% !important;
}

.carousel.slide {
  flex-grow: 0;
  flex-basis: auto;
  width: 100%;
}

.contenedor-carousel {
  height: min-content;
  width: 80%;
}