#cabecera {
    background-color: #256972 !important; 
}

.boton-logout i{
    margin-right: 100px;
}
/* El boton es mas grande de lo que deberia hacia la derecha */
.boton-logout {
    color: #fff;
    font-size: 25px;
    background: none;
    border: none;
    float: right;
    display: inline;
    padding: none;
 }
 .boton-logout :hover {
     color:gray;
 }

 .navbar {
     padding-top: 0 !important;
     padding-bottom: 0 !important;
 }