.card-footer {
    background: #121f16 !important;
    text-align: center;
    color: gray;
<<<<<<< HEAD
    font-size: 30px;
=======
    font-size: 25px;
>>>>>>> e23b27239250347486f7afa9bb75823970dd0d8b
    border-radius:0 !important;
    bottom: 0;
    margin-top: 10px;
}
/* El footer no queda abajo del todo*/
