.footer {
    background:#256972 !important;
    text-align: center;
    color: #fff;
    font-size: 20px;
    border-radius:0 !important;
    bottom: 0;
    margin-right: 10px;

}
.fa-copyright:before {
    margin-right: 10px;
    font-size: 10px  !important;
    color:#111;
}

.fa-instagram:before {
    margin-right: 10px;
}
.fa-facebook:before {
margin-right: 10px;
}