.contenedor-proveedores {
    flex-basis: content;
    display: grid;
    position: relative;
    place-content: center;
    place-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-rows: 1fr;
}

.proveedor {
    height: 100%;
}

.proveedor .row {
    height: 100%;
}

.logo-proveedor img {
    width: 100%;
}

.logo-proveedor {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.proveedor-titulo {
    display: block;
    width: 100%;
    text-align: left;
    padding: 0;
    grid-row: 1 / 2;
    grid-column: 1/ span 1;
    align-self: start;
}

.info-proveedor {
    display: flex;
    place-content: center;
    place-items: center;
    flex-direction: column;
}

.fa-industry {
    color: rgb(62, 109, 130);
}


.logo-proveedor :hover{
    opacity: 0.8;
}