.contenedor-proovedores {
    flex-basis: content;
    display: grid;
    position: relative;
    place-content: center;
    place-items: center;
    grid-template-columns: 1fr;
}

.proovedor {
    height: 100%;
}

.proovedor .row {
    height: 100%;
}

.logo-proovedor img {
    width: 100%;
}

.logo-proovedor {
    display: flex;
    align-items: center;
    height: 100%;
}

.proovedor-titulo {
    display: block;
    width: 100%;
    text-align: center;
    padding: 0;
    grid-row: 1 / 2;
    grid-column: 1/ span 1;
    align-self: start;
}

.info-proovedor {
    display: flex;
    place-content: center;
    place-items: center;
    flex-direction: column;
}

.info-proovedor>ul{
    display: block;
    list-style: none;
    padding: 0;
    word-wrap: break-word;
}

.info-proovedor>h2 {
    display: block;
}

.fa-industry {
    color: rgb(62, 109, 130);
}

/* MEDIA QUERYS */

@media (min-width: 768px) {
    .contenedor-proovedores {
        grid-template-columns: repeat(2, 1fr);
    }

    .proovedor-titulo {
        grid-column: 1/ span 2;
    }
}

@media (min-width: 992px) {
    .contenedor-proovedores {
        grid-template-columns: repeat(3, 1fr);
    }

    .proovedor-titulo {
        grid-column: 1/ span 3;
    }
}