form {
    background-color: #021617;
    padding: 10%;
    border-radius: 10px;
    Margin:5% 

}
.exampleInputEmail1{
  box-sizing:content-box;

  display:block;
}

.exampleInputPassword1 {
  box-sizing:content-box;

  display:block;
}
form button {
  background-color:  #121f16  !important;
  color: #97c8eb !important;
  width: 100%
}
form button:hover {
  background-color:  #121f16  !important;
}
