form {
    background-color: #19a8bb;
    padding: 2.5%;
    border-radius: 10px;
    Margin:5%;
    height: fit-content;
    flex-basis: auto;
}
.exampleInputEmail1{
  box-sizing:content-box;
  display:block;
}
.contenedor-login{
  background-image: url("http://localhost:3000/img/fondo.jpg");
  background-size: contain;
  position: relative;
  height: 100%;
  flex: auto;
 }
.exampleInputPassword1 {
  box-sizing:content-box;
  display:block;
}
.btn{
  margin-top: 20px;
}
form button {
  background-color:  #256972  !important;
  color: #97c8eb !important;
  width: 100%
}
form button:hover {
  background-color: #158290  !important;
}

.contenedor-formulario {
  height: 100%;
}
